.illustrations
    display flex
    justify-content space-around
    flex-flow row wrap
    max-width 100%
    margin-top 140px

.screen-illustration
    display flex
    justify-content flex-end
    flex-direction column
    flex-wrap wrap
    width 380px
    height 400px
    margin 20px
    background-repeat no-repeat
    background-size cover
    background-position center
    background-color #f9f9f9
    position relative
    overflow hidden

.illustration-description
    position absolute
    width 380px
    height 50px
    background-color #000
    color #fff
    transition 0.2s cubic-bezier(0.65, 0.01, 0.46, 1)
    transform translateY(100%)

.illustration-title
    font-family CircularBlack 
    font-size 24px
    margin 12px 16px

.screen-illustration:hover .illustration-description
    transform translateY(0)

.screen-illustration-1
    background-image url('../../static/img/illustrations/01.png')
    
.screen-illustration-2
    background-image url('../../static/img/illustrations/02.png')

.screen-illustration-3
    background-image url('../../static/img/illustrations/03.png')

.screen-illustration-4
    background-image url('../../static/img/illustrations/04.png')

.screen-illustration-5
    background-image url('../../static/img/illustrations/05.png')

.screen-illustration-6
    background-image url('../../static/img/illustrations/06.png')

.screen-illustration-7
    background-image url('../../static/img/illustrations/07.png')

.screen-illustration-8
    background-image url('../../static/img/illustrations/08.png')

.screen-illustration-9
    background-image url('../../static/img/illustrations/09.png')

.screen-illustration-10
    background-image url('../../static/img/illustrations/10.png')

.screen-illustration-11
    background-image url('../../static/img/illustrations/11.png')

.screen-illustration-12
    background-image url('../../static/img/illustrations/12.png')
