/* LANDING */

.landing
    position relative

.landing-title
    margin-bottom 36px

.landing-text
    max-width 1029px
    font-family Archivo
    font-size 54px
    line-height 50px
    text-transform uppercase
    color #000

.scroll-indicator
    margin 0 calc(50% - 2px)
    width 2px
    height 60px
    background-color #000
    position absolute
    bottom 0