/* LANDING */

.landing
    display flex
    justify-content center
    flex-direction column
    height 100vh
    width 100%
    margin 0
    position relative
    background-color #fff
    color #000
    font-family Archivo
    font-size 54px

.landing-content
    display flex
    justify-content space-around
    flex-direction column

.landing-title
    margin-bottom 36px

.landing-text
    max-width 1029px
    font-family Archivo
    font-size 54px
    line-height 50px
    text-transform uppercase
    color #000

.scroll-indicator
    margin 0 calc(50% - 2px)
    width 2px
    height 60px
    background-color #000
    position absolute
    bottom 0