.screen-vignette-5 .vignette-img
    background-image url('../../static/img/NYC.jpg')

.screen-vignette-6
    margin-bottom 100px

.screen-vignette-6 .vignette-img
    background-image url('../../static/img/90days.jpg')