@font-face
    font-family Archivo
    src url('../../static/fonts/ArchivoBlack-Regular.ttf')

@font-face
    font-family CircularBlack
    src url('../../static/fonts/CircularStd-Black.ttf')

html,body
    margin 0
    padding 0
    top 0
    left 0
    width 100%
    height 100%
    position relative
    overflow-x hidden

body
    /* DEV OPTION */

    /* */
    // overflow-y hidden

.canvas
    width 100%
    height 100%
    position absolute
    transition 0.6s cubic-bezier(0.65, 0.01, 0.46, 1)

.confettis
    position absolute
    z-index 10
    width 100% !important
    height 100%

.container
    max-width calc(100% - 160px)
    margin auto
    @media screen and (max-width: 1000px)
        width calc(100% - 80px)

.main
    display flex
    justify-content flex-start
    flex-direction column
    width 100%
    transition 0.2s cubic-bezier(0.65, 0.01, 0.46, 1)
    background-color #ffffff
    z-index 5
    position relative
    opacity 1

.screen
    width 100%
    height calc(100vh - 140px)
    margin-top 140px

.start-animation
    opacity 0