@font-face
    font-family Archivo
    src url('../../static/fonts/ArchivoBlack-Regular.ttf')

@font-face
    font-family CircularBlack
    src url('../../static/fonts/CircularStd-Black.ttf')

@font-face
    font-family CircularBook
    src url('../../static/fonts/CircularStd-Book.ttf')

*
    box-sizing border-box

html,body
    margin 0
    padding 0
    top 0
    left 0
    width 100%
    height 100%
    position relative
    overflow-x hidden
    @media screen and (max-width: 1023px)
        overflow hidden

body
    /* DEV OPTION */

    /* */
    // overflow-y hidden

h1, h2, h3, h4, h5
    margin 0
    padding 0
    font-weight inherit

a
    color inherit 
    font-family CircularBlack
    text-decoration none

.canvas
    width 100%
    height 100%
    position absolute
    transition 0.6s cubic-bezier(0.65, 0.01, 0.46, 1)

.confettis
    position absolute
    z-index 10
    width 100% !important
    height 100%

.container
    max-width calc(100% - 380px)
    margin auto
    @media screen and (max-width: 1600px)
        max-width calc(100% - 160px)

.main
    display flex
    justify-content flex-start
    flex-direction column
    width 100%
    transition 0.2s cubic-bezier(0.65, 0.01, 0.46, 1)
    background-color #ffffff
    z-index 5
    position relative
    opacity 1
    scroll-behavior smooth
    scroll-snap-type y mandatory
    @media screen and (max-width: 1023px)
        visibility hidden
        opacity 0

.disclaimer
    display flex
    justify-content center
    align-items center
    visibility hidden
    position absolute
    width calc(100% - 80px)
    margin 0 40px
    top 50%
    font-size 22px
    font-family CircularBook
    text-align center
    @media screen and (max-width: 1023px)
        visibility visible

.start-animation
    opacity 0

.screen
    display flex
    align-items flex-start
    flex-flow column nowrap
    font-family Archivo
    font-size 54px
    width 100%
    height auto
    margin-top 140px
    background-color #fff
    color #000
    overflow hidden
    -webkit-overflow-scrolling touch
    scroll-snap-align start
    scroll-snap-type x mandatory
    position relative

.screen-vignette
    display flex
    justify-content space-between
    align-items flex-end
    flex-direction row
    min-width 100%
    height 760px
    min-height 580px
    margin 40px 0
    padding-bottom: 20px
    position relative
    // overflow hidden
    z-index: 5

.screen-opacity-title
    position absolute
    top 0
    left 100%
    transform rotate(90deg)
    transform-origin top left
    font-family Archivo
    font-size 200px
    box-sizing border-box
    z-index: 0
    opacity 0.04
    text-transform uppercase

.vignette-img
    width calc(100% - 460px)
    height 80%
    background-repeat no-repeat
    background-size cover
    background-position center
    background-color #f9f9f9
    box-shadow 2px 4px 8px rgba(51, 51, 51, 0.12)

.vignette-description
    display flex
    justify-content space-around
    flex-direction column
    width 400px
    font-family CircularBook
    font-size 16px
    line-height 1.8
    z-index 20

.description-button
    display flex
    justify-content center
    align-items center
    width 100%
    height 54px
    margin-top 24px
    color #fff
    cursor pointer
    position relative
    transition 0.1s cubic-bezier(0.65, 0.01, 0.46, 1)
    z-index 25

.description-button:hover
    color #000

.description-button::after
    display flex
    justify-content center
    align-items center
    content 'Discover'
    width 100%
    height 100%
    position absolute
    background-color #000
    transform translateX(0)
    transition 0.2s cubic-bezier(0.65, 0.01, 0.46, 1)
    z-index 15

.description-button:hover::after
    transform translateX(100%)
    color #000

.vignette-title
    display flex
    justify-content flex-start
    align-items center
    flex-direction column
    font-family CircularBlack
    font-size 54px
    padding: 0 12px
    position absolute
    bottom -10px
    left 24px
    color #000
    background-color #fff
    box-shadow 2px 6px 8px rgba(51, 51, 51, 0.25)
    text-align center