@font-face
    font-family Archivo
    src url('../../static/fonts/ArchivoBlack-Regular.ttf')

@font-face
    font-family CircularBlack
    src url('../../static/fonts/CircularStd-Black.ttf')

html,body
    margin 0
    padding 0
    top 0
    left 0
    width 100%
    height 100%
    position relative
    overflow-x hidden

body
    /* DEV OPTION */

    /* */
    // overflow-y hidden

h1, h2, h3, h4, h5
    margin 0
    padding 0
    font-weight inherit

.canvas
    width 100%
    height 100%
    position absolute
    transition 0.6s cubic-bezier(0.65, 0.01, 0.46, 1)

.confettis
    position absolute
    z-index 10
    width 100% !important
    height 100%

.container
    max-width calc(100% - 160px)
    margin auto
    @media screen and (max-width: 1000px)
        width calc(100% - 80px)

.main
    display flex
    justify-content flex-start
    flex-direction column
    width 100%
    transition 0.2s cubic-bezier(0.65, 0.01, 0.46, 1)
    background-color #ffffff
    z-index 5
    position relative
    opacity 1

.start-animation
    opacity 0

.screen
    display flex
    align-items center
    flex-direction row
    font-family Archivo
    font-size 54px
    width max-content
    height calc(100vh - 140px)
    margin-top 140px
    background-color #fff
    color #000
    overflow-x visible
    scroll-snap-type x mandatory

.screen-vignette
    display flex
    justify-content space-between
    align-items center
    flex-direction column
    min-width 360px
    max-width 680px
    width 60vw
    min-height 200px
    max-height 520px
    height 60vh
    margin-right 120px

.vignette-img
    width 100%
    height 80%
    background-repeat no-repeat
    background-size contain
    background-position center
    background-color #F9F9F9

.vignette-title
    display flex
    justify-content flex-start
    align-items center
    width calc(100% - 40px)
    height 20%
    font-family CircularBlack
    font-size 54px