.screen-vignette-1 .vignette-img
    background-image url('../../static/img/tweat.jpg')
.screen-vignette-1 .vignette-img:hover
    background-image url('../../static/img/gif/tweat.gif')


.screen-vignette-2 .vignette-img
    background-image url('../../static/img/dooodle.jpg')
.screen-vignette-2 .vignette-img:hover
    background-image url('../../static/img/gif/dooodle.gif')


.screen-vignette-3 .vignette-img
    background-image url('../../static/img/terra-star.jpg')
.screen-vignette-3 .vignette-img:hover
    background-image url('../../static/img/gif/terrastar.gif')


.screen-vignette-4 .vignette-img
    background-image url('../../static/img/gaz.jpg')
.screen-vignette-4 .vignette-img:hover
    background-image url('../../static/img/gif/gaz.gif')
